@model BookingPlaceInRestaurant.Models.IdentityModel.ForgotPasswordViewModel

<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="col">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-dark">Send</button>
    </div>
</form>