@using System.Globalization
<!DOCTYPE HTML>
<html>
<head>
    <div class="text-center">
        <h2>@DateTime.Now.Date.ToString("MMMM yyyy", new CultureInfo("en-Us"))</h2>
    </div>
    <script>
		window.onload = function () {

		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			theme: "light2",
			exportEnabled: true,
			title: {
				text: "Statistics of visits for the current month"
			},
			data: [{
				type: "column",
				dataPoints:  @Html.Raw(ViewBag.DataPoints)
			}]
		});
		chart.render();

		}
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 570px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>
</html>