@model BookingPlaceInRestaurant.Models.GuestsModel.Guest
@{
    List<int> NumberOfGuests = new List<int>();

    for (int i = 1; i <= ViewBag.NumberOfSeats + 1; i++)
    {
        NumberOfGuests.Add(i);
    }
}
<form asp-action="EditGuest" asp-controller="Guests" method="post">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Time1"></label>
                <input type="time" asp-for="Time1" class="form-control" />
                <span asp-validation-for="Time1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time2"></label>
                <input type="time" asp-for="Time2" class="form-control" />
                <span asp-validation-for="Time2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfGuests"></label>
                <select class="form-control" asp-for="NumberOfGuests"
                        asp-items="@new SelectList(NumberOfGuests)">
                </select>
                <span asp-validation-for="NumberOfGuests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedTable"></label>
                <input asp-for="SelectedTable" class="form-control" readonly="readonly" />
                <span asp-validation-for="SelectedTable" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="PlaceId" />
        <input type="hidden" asp-for="DateVisit" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" asp-controller="Guests" class="btn btn-outline-danger">
            Cancel
        </a>
    </div>
</form>

@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}