@using BookingPlaceInRestaurant.Models.GuestsModel
@{ 
    Guest guest = ViewBag.SearchGuests;
}

<div class="row">
    <form asp-action="Index" asp-controller="Guests" method="get" class="form-inline">
        <label class="m-1">DateVisit:</label>
        <input type="date" class="form-control" name="dateVisit" value="@guest.DateVisit" />
        <label class="m-1">Surname:</label>
        <input class="form-control" name="surname" value="@guest.Surname" />
        <label class="m-1">Phone:</label>
        <input class="form-control" name="phone" value="@guest.Phone" />

        <input type="submit" value="Filter" class="btn btn-danger" />
        <a asp-action="Index" asp-controller="Guests" class="btn btn-primary">Clear Filter</a>
    </form>
</div>